body {
   background-color:#bf5c71; 
   margin:0;
   padding:0;
   height:100%;
}
#wrapper{

   min-height:100%;
   position:relative;
}
#content {
   padding-top: 20px;
   padding-bottom:0;
   height: 500px;   /* Height of the footer */
}
#footer{
		top: 0;
		bottom:0;
		left:0;
		width: 100%;
		height: 60px;
		background:	#1E1E1E;
		color:  #919191;
	}
table{  border:0;
      height: 10%;
      width: 100%;
      padding:0;
      margin:0;
      }
#r1{  padding-top: 20px;
      color:#bf5c71 ;
      font-family: Cambria;
      font-size: 40px;
      text-align: center;
      height: 200px;
      background-color:#1E1E1E;
}

#r2 { height: 60px; 
     background-color:#3e3436;}

span{ font-size: 30px;
      color: #919191;
   }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul > li {
    float: left;
}
a{
    display: block;
}

a.class2:visited, a.class2:link {
    display: block;
    width:  300px;
   height: 30px;
    font-weight: bold;
    color: #919191;
    background-color: #3e3436;
    text-align: center;
    padding-top: 6px;
    text-decoration: none;
   font-family: Cambria;
}
a.class2:hover, a.class2:active {
    background-color:#2e2728 ;
}


li ul {
   display : none;
}
li:hover ul {
   display: block; 
   position: absolute;
}
 li:hover li {
   float: none;
 }

 

 .rcorners1 {
    border-radius: 25px;
    background: #F878A2;
    padding: 20px; 
    width: 215px;
    height: 80px;    
}



A.round1 {color:white;
text-decoration: none;}
a.round1:hover{
  background-color: #E4598B;
}



li.li{
   margin-left: 120px;
   margin-top: 40px;
}

