
body{ 	background-color:#bf5c71; 
		margin:0;
		padding:0;
		height:120%;

	}
#footer{
		
		bottom:0;
		left:0;
		width: 100%;
		height: 60px;
		background:	#1E1E1E;
		color:  #919191;
	}
table{  border:0;
		height: 10%;
		width: 100%;
		padding:0;
		margin:0;
		}
#r1{ 	padding-top: 20px;
		color:#bf5c71 ;
		font-family: Cambria;
		font-size: 40px;
		text-align: center;
		height: 200px;
		background-color:#1E1E1E;
}
span{	font-size: 30px;
		color: #919191;
	}
#r2 { height: 60px; 
	  background-color:#3e3436;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul > li {
    float: left;
}
a {
    display: block;
}
a:visited, a:link{
    display: block;
    width:	300px;
	height: 30px;
    font-weight: bold;
    color: #919191;
    background-color: #3e3436;
    text-align: center;
    padding-top: 6px;
    text-decoration: none;
	font-family: Cambria;
}
a:hover, a:active {
    background-color:#2e2728 ;
}
li ul {
	display : none;
}
li:hover ul {
	display: block; 
	position: absolute;
}
 li:hover li {
	float: none;
 }

 .round{
 	border-radius: 25px;
    background-color: ##F878A2;
    padding: 20px; 
    width: 200px;
    height: 150px; 
    color: red;
 }